<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gestor de Projectes </title>
    <!-- Bootstrap -->
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <!-- NProgress -->
    <link href="{{ asset('vendor/nprogress/nprogress.css') }}" rel="stylesheet" />
    <!-- iCheck -->
    <link href="{{ asset('vendor/iCheck/skins/flat/green.css') }}" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="{{ asset('vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="{{ asset('vendor/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('vendor/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet" />
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                {{ include('@App/private/menu.html.twig') }}
            </div>
        </div>
        {{ include('@App/private/top_navigation.html.twig') }}
        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="row tile_count">
            </div>
            <!-- /top tiles -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph" align="middle">
                        <div class="row x_title">
                            <div>
                                <h3>Gestor de Projectes</h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <h2>Aquest es un gestor de Projectes per a petites, mitjanes i grans empreses.</h2>
                        <br/>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- footer content -->
<footer>
    <div class="pull-right">
        Gestor de Projectes - All rights are reserved by <b>Kevin Garcia</b> & <b>Nestor Ibañez</b>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
<!-- jQuery -->
<script src="{{ asset('vendor/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('vendor/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('vendor/nprogress/nprogress.js') }}"></script>
<!-- Chart.js -->
<script src="{{ asset('vendor/Chart.js/dist/Chart.min.js') }}"></script>
<!-- gauge.js -->
<script src="{{ asset('vendor/gauge.js/dist/gauge.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script src="{{ asset('vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<!-- iCheck -->
<script src="{{ asset('vendor/iCheck/icheck.min.js') }}"></script>
<!-- Skycons -->
<script src="{{ asset('vendor/skycons/skycons.js') }}"></script>
<!-- Flot -->
<script src="{{ asset('vendor/Flot/jquery.flot.js') }}"></script>
<script src="{{ asset('vendor/Flot/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('vendor/Flot/jquery.flot.time.js') }}"></script>
<script src="{{ asset('vendor/Flot/jquery.flot.stack.js') }}"></script>
<script src="{{ asset('vendor/Flot/jquery.flot.resize.js') }}"></script>
<!-- Flot plugins -->
<script src="{{ asset('vendor/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ asset('vendor/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
<script src="{{ asset('vendor/flot.curvedlines/curvedLines.js') }}"></script>
<!-- DateJS -->
<script src="{{ asset('vendor/DateJS/build/date.js') }}"></script>
<!-- JQVMap -->
<script src="{{ asset('vendor/jqvmap/dist/jquery.vmap.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{{ asset('vendor/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<!-- Custom Theme Scripts -->
<script src="{{ asset('js/custom.min.js') }}"></script>
</body>
</html>